<#include "base.html">
        <div class="col">
            
            <div class="col-stats col">
                <div class="row">
                    <div class="col-4">
                        <i class="far fa-eye fa-4x home-stats"></i>
                    </div>
                    <div class="col-8">
                       <div class="status-home">Session Klicks:</div>
                       <div class="value-home">${sessionviews}</div>
                    </div>
                    <div class="col-4">
                        <i class="fas fa-money-bill-wave fa-4x home-stats"></i>
                    </div>
                    <div class="col-8">
                       <div class="status-home">Verdienst:</div>
                       <div class="value-home">0 Euro</div>
                    </div>
                        <div class="col-4">
                            <i class="fas fa-users fa-4x home-stats"></i>
                        </div>
                        <div class="col-8">
                           <div class="status-home">Registrierte Nutzer:</div>
                           <div class="value-home">${registered}</div>
                        </div>
                   
                </div>
            </div>
          </div>
	</div>
</div>