<#include "base.html">
    <div class="container">
        <div class="row cn-profile">
            <div class="col-lg-12 cn-col">
                <div class="wrapper-content animated fadeInRight">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/${bclink}">${bcsite}</a></li>
                            <li class="breadcrumb-item"><a href="/thema/${bc2_link}">${bc2}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">${titlebar}</li> 
                        </ol>
                    </nav>
                    <div>
                        <div class="row col-8-home col-8-post">
                            <div class="col-lg-4 col-xl-4">
                                <div class="card-box text-center">
                                    <img src="/avatar/${uavatar}.png"
                                        class="rounded-circle avatar-xl img-thumbnail" alt="profile-image">
                                    <a href="/profil/${author_name}"><h4 class="mb-0 author-text <#if perm = "10">admin</#if>">${author_name}</h4></a>
                                    <p class="text-muted">
                                        <#if authority !="Kein Titel">${authority}</#if>
                                    </p>
                                </div>
                            </div>
                            
                            <div class="col-lg-8">
                                <div>${bbcode_text}</div>
                            </div>
                            <#if permissions = "10">
                            <div class="col-lg-4 col-xl-4">
                                <div class="">
                                    <h5 class="mb-0 author-text">Admin Panel - Nutzerverwaltung</h4>
                                    <p class="text-muted">
                                        Achtung Löschungen können nicht rückgänig gemacht werden!
                                    </p>
                                    
                                   <a type="button" class="btn btn-danger btn-sm btn-block" onclick="safety('/ap/api/ban/user?id=${uid}')"><i class="fas fa-lock"></i> Nutzer Sperren</a>
                                    <a type="button" class="btn btn-outline-danger btn-sm btn-block" onclick="safety('/ap/api/lock/contributions?id=${id}')"><i class="fas fa-eye-slash"></i> Beitrag unsichtbar machen</a>
                                    <a type="button" class="btn btn-warning btn-sm btn-block" onclick="safety('/ap/api/delete/contribution?id=${id}')"><i class="fas fa-trash-alt"></i> Beitrag löschen</a>
                                    
                                </div>
                            </div>
                            </#if>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container bootdey">
                <div class="col-md-12 bootstrap snippets">
                <#if loggedin = "true">
                <div class="panel">
                  <div class="panel-body">
                      <form action="/add/comment" method="POST">
                        <textarea name="bbcode_text" class="form-control" rows="2" placeholder="Was denkst du dazu?"></textarea>
                        <input type="hidden" name="cont_id" value="${id}">
                        <div class="mar-top clearfix">
                        <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Teilen</button>
                    </form>
                    </div>
                  </div>
                </div>
                </#if>

                <#include "snippets/pagination.html">
                <#list cmnt>
                <#items as comments>
                <div class="panel">
                    <div class="panel-body">
                    <div class="media-block">
                      <a class="media-left" href="/profil/${comments.username}"><img class="img-circle img-sm" alt="Profilblid" src="/avatar/${comments.avatar}.png"></a>
                      <div class="media-body">
                        <div class="mar-btm">
                          <a href="/profil/${comments.username}" class="btn-link text-semibold media-heading box-inline">${comments.username}</a>
                          <p class="text-muted text-sm"><i class="far fa-window-maximize"></i> - vom Browser aus - ${comments.timestamp}</p>
                        </div>
                        <p>${comments.bbcode_text}</p>
                        <#if loggedin = "true">
                        <div class="pad-ver">
                          <div class="btn-group">
                            <a class="btn btn-sm btn-default btn-hover-success"><i class="fa fa-thumbs-up"></i> - 0</a> 
                            <#if permissions = "10">
                            <a class="btn btn-sm btn-default btn-hover-success" onclick="safety('/ap/api/ban/user?id=${comments.userid}')"><i class="fas fa-lock"></i></a>
                            <a class="btn btn-sm btn-default btn-hover-success" onclick="safety('/ap/api/lock/comments?id=${comments.ID}')"><i class="fas fa-eye-slash"></i></a>
                            <a class="btn btn-sm btn-default btn-hover-success" onclick="safety('/ap/api/delete/comments?id=${comments.ID}')"><i class="fas fa-trash-alt"></i></a>
                            </#if>
                          </div>
                        </div>
                        </#if>
                        
                
                      </div>
                    </div>
                   
                </div>
                </div>
                </#items>
                <#else>
                    <h5 style="padding-top: 8px; padding-bottom: 8px;margin-left: 15px;">Keine Kommentare auf dieser Seite vorhanden</h5>
            </#list>


                <#include "snippets/pagination.html">
                </div>
        </div>
    </div>
<#include "footer.html">