<#include "base.html">
    <div class="container">
        <section class="content inbox">
            <div class="container-fluid">

                <div class="row clearfix">

                    <div class="col-lg-12">
                        <#if loggedin = "true">
                        <a id="fadeEditor" class="btn btn-sm btn-block btn-rounded btn-info"><i class="fas fa-folder-plus"></i>
                            Beitrag hinzufügen</a>
                            <script>
                                var editor = true;
                            </script>
                        <div id="editorArea" class="container ea container-home col-8-home col-8-imp" style="display: none;">
                            <form id="rl-form" action="/add/contribution" method="POST" accept-charset="UTF-8">
                            <input type="text" name="title" class="form-control titlebox" placeholder="Titel" required autofocus>
                            <textarea type="text" name="bbcode_text" class="form-control" placeholder="Dein Beitrag" cols="30" rows="10" required></textarea>
                            <div class="cap-ff titlebox" id="captcha_container_post"></div>
                            <input type="hidden" name="topic_id" id="topic_id" name="topic_id" value="${id}">
                       
                            <div class="alert alert-secondary alert-dismissible fade show hidden" id="recaptchaerr" role="alert">
                                Ohne das ausfüllen des Captchas kann dein Post nicht veröffentlicht werden.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                            </div>
                   
                            <button class="btn btn-sm btn-block btn-info"><i class="fas fa-plus-square"></i>
                                Beitrag abschicken</button>
                            

                            </form>
                        </div>
                        </#if>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/${bclink}">${bcsite}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">${titlebar}</li>
                            </ol>
                        </nav>
                        <div class="col">
                            <div class="input-group search">
                                <input type="text" class="form-control"
                                    placeholder="Suche nach Beiträgen im Thema: ${titlebar}">
                                <span class="input-group-addon">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagi-top">

                    <#include "snippets/pagination.html">
                </div>

                <div class="row clearfix">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <ul class="mail_list list-group list-unstyled">

                            <#list conts>
                                <#items as contss>
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="pull-left">

                                                <div class="checkbox">
                                                    <a href="/profil/${contss.username}"><img
                                                            src="/avatar/${contss.avatar}.png"
                                                            class="img-responsive img-th img-rounded"
                                                            style="max-height: 50px; max-width: 50px;"></a>
                                                </div>


                                            </div>
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <a href="/beitrag/${contss.sublink}/${contss.userid}"
                                                        class="m-r-10"> ${contss.sublink}</a>
                                                    <span class="badge bg-primary">Beitrag</span>
                                                    <#if contss.perm="10"><span class="badge bg-red">Admin</span></#if>
                                                    <#if contss.locked=1><span class="badge bg-yellow"><i
                                                                class="fas fa-eye-slash"></i></span></#if>
                                                    <small class="float-right text-muted"><time class="hidden-sm-down timeago"
                                                            datetime="${contss.timestamp}" title="${contss.timestamp}">${contss.timestamp}</time><i
                                                            class="zmdi zmdi-attachment-alt"></i> </small>
                                                </div>
                                                <p class="msg"> ${contss.bbcode_text} </p>
                                            </div>
                                        </div>
                                    </li>
                                </#items>
                            </#list>
                        </ul>

                    </div>
                </div>
                <div class="pagi-bot">
                    <#include "snippets/pagination.html">
                </div>

            </div>
        </section>
    </div>
    </div>
    <#include "footer.html">